<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>দ্ব্যর্থতা নিরসক | নকীব সরকার</title>
    <meta name="description" content="বাংলা উইকিপিডিয়ায় কোনো দ্ব্যর্থতা নিরসনকারী পাতায় সঙ্গযোগ থাকলে তা নিরসনের সরঞ্জাম">
    <meta name="keywords" content="বাংলা উইকিপিডিয়া, দ্ব্যর্থতা নিরসক, সরঞ্জাম">
    <meta name="author" content="Nokib Sarkar">
</head>
<body>
    দ্ব্যর্থতা নিরসকে স্বাগতম!!!
    অনুগ্রহপূর্বক নিচের বোতামে ক্লিক করে শুরু করুন
   <form action="disambiguate" method="get">
        <input  type="hidden" name="language" value="bn" />
        <input type="text" name="title" />
        <button type="submit">
            শুরু
        </button>
    </form>
</body>
</html>